/********
GENERAL
********/

body {
	font-size: 12px;
}

li {
	list-style: none;
	display: inline-block;
}

.col-xs-2, .col-xs-3, .col-xs-12, .col-md-6, .col-md-3 {
	padding-left: 0%;
	padding-right: 0%;
}


/********
NAV
********/

#nav_title {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.nav_links {
	text-align: center;
}




/********
PAGE
********/

.home_test {
	padding-top: 85px;
}



/********
FOOTER
********/





/********
MEDIA
********/

@media screen and (max-width: 460px){
	#nav_title {
		font-size: 2.5em;
		margin-top: 2%;
		margin-bottom: 1%;
	}
}





