<!DOCTYPE html>
<html>

<head>
  <title>Digital Swashbuckler</title>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="row">
				<h1 class="col-xs-10 col-md-12" id="nav_title">Digital Swashbuckler</h1>
				<div class="col-xs-2 navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-label="Hamburger Menu">
  					<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
					</button>
				</div>				
			</div>
			<div class="row">
				<span class="col-md-3"></span>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav_links col-xs-12 col-md-6">
						<div class="row">
							<li class="col-xs-3">Home</li>
							<li class="col-xs-3">Connect</li>
							<li class="col-xs-3">Resources</li>
							<li class="col-xs-3">Contact</li>
						</div>
					</ul>
				</div>
				<span class="col-md-3"></span>
			</div>
		</div>
	</div>

<%= yield %>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
